/* @page{
    height: 210mm;
    width: 297mm;
} */
.currentPage{

    padding: 1rem 0 0.5rem 2rem;
    font-family: "League Spartan", sans-serif; 
    color: whitesmoke;
    font-size: 1.5rem; 
  }
  
  .navBar{ /*editing the nav elements and everything containing within it */
     display:flex; 
     justify-content: space-between;
     align-items: center;
     background-color: #3A6B35; /* subject to change */
  }

  .navLinks,.links{ /* style the link on the nav bar with, font style, text color, font size, padding to get link into position wanted, and transition on the link*/
    font-family: "League Spartan", sans-serif; 
    color: whitesmoke;
    font-size: 1.3rem; 
    padding: 0.25rem;
     transition: color .1s ease-in,.3s ease-out; 
 
    animation-name: nav-slide; 
    animation-duration:0.8s;
    animation-timing-function: ease-in;
 }
 /*linkSpace*/
 .navLinks .liItems{ /*adjust link to get it into 1 line, and add padding with border to get into position wanted */
    display: inline-block;
    margin: 0.3rem; 
    padding: 0.5rem 1rem 0.3rem 0rem;
 }
 
  .links:hover { /*add shadow, inset so that it will encompass the element, 135px for the dimension in which the shadow will cover (135 px). also add color to the text when mouse hover over the link*/
    box-shadow: inset 135px 0 0 0  #E3B448;  
    color: black; /*color of text */
  }
  
.background{
   display:flex;
   justify-content: center;
   align-items: center;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    
    margin: 2rem;
}

.container{
  
   width: 100vw;
height: 100vh;
 /* background-color: #3A6B35;  */
 background-color: #fff8e7; 
z-index: -3;
}
.middle{
    display: flex;
    
}
.quadrant1{
 /*    background-color: whitesmoke;  */
    background-color: antiquewhite;
    margin: 0.2rem 0.25rem .3rem 0.2rem;
  /*   z-index: 999  ; */

  

}

.editor1{
    width: 100vw;
    height: 3rem;
    overflow: hidden;
   
}

.quadrant2{
     /* background-color: whitesmoke;  */
     background-color: antiquewhite;
flex: 0 0 40%;

   margin: 0 0.25rem 0.3rem 0.25rem;
   height: 20rem;
   
}
.editor2{
    overflow:scroll;
    width:32rem;
    
    height: 22.3rem;

}
.quadrant3{
    /* background-color: whitesmoke;  */
    background-color: antiquewhite;
    flex: 1;
    margin: 0 0.25rem 0.3rem 0.25rem;
    height: 22.3rem;
   
}

.editor3{
    overflow: hidden;
    width: 47rem;
    height: 22.3rem;
    
}



.quadrant4{
   /*  background-color: whitesmoke;  */
   background-color: antiquewhite;
 height: 8rem;  
}

.editor4{
    overflow: hidden;
    margin: 0 0.5rem 1rem 0.3rem;    
    width: 100vw;
    height: 8rem;  

}

/*animation for the nav bar links*/
@keyframes navSlide {
    0%{
      opacity: 0;
        transform: translateY(10px);
    }
    100%{
      opacity: 1;
        transform: translateY(0);
    } 
   } 
   @media screen and (min-width:576px) {
      /*import the side nav bar thing into here, then code it. */
    }
   
   