@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
/*
https://cssgradient.io/
used this website for the generated pattern 
*/

*{ /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/*set the rem size to 10px*/
html{
  font-size: 62.5%;
}

/*set the background pattern for the sign up page*/
body{
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);

}

/*set up the size for the container and center it in middle of page*/
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /*X-Axis*/
    align-items: center; /*Y-Axis*/
    
}

  .wrap{
    width: 50rem ;
    height: 50rem ;
    background-color: transparent;
    border-radius: 3rem;
    box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.3); /* add shadow to the main box, rgba (0.3 is how transparent the shadow is, 0=transparent)*/
    position: relative;
    overflow: hidden;
  }

  /*this includes the input box*/
   form{
     width: 50rem;
    height:  100%;
    display: flex;
    position: absolute; /*absolute position to the parent container (wrap)*/ 
    left: 50%;
    transform: translateX(-50%); /*center of the "wrap"*/
    flex-direction: column; 
    /* justify-content: space-around;  *//*flex-column so this is Y-Axis*/
    align-items: center;/*flex-column so this is X-Axis*/
    flex-wrap: nowrap;
    font-family: "League Spartan", sans-serif; 
  } 

  /*large header text on the page like "Sign Up"*/
form .head{
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  padding-bottom: 1rem;
  padding-top: 4.35rem;
}
form .error{
 /*1 rem for the message*/
      display: none;    
  font-family: "League Spartan", sans-serif; 
  font-size: 1.4rem;
  font-weight: 600;
  height: 1rem;
  width: 29rem;
  padding: 1rem 0 0 1rem;
}

form .requirement{
  display: none;    
  font-family: "League Spartan", sans-serif; 
  font-weight: 400;
  font-size: 1.4rem;
  height: 1rem;
  width: 29rem;
  padding: 2rem 0 0 1rem;
}
/*input box in the form*/

.sign-txt{
  font-family: "League Spartan", sans-serif; 
  font-size: 1.5rem;
  width: 30rem;
  height: 5rem;
  margin-top: 3.6rem;
  padding: 1rem 0 1rem 1rem;
  border: 1px none white; 
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
  border-radius: 2.5rem; 
  background-color: transparent;
  color: white;
  font-weight: 550;
}

/*change the color and size of the text that is a placeholder in the input box*/
::placeholder{
  color: white;
  font-size: 1.5rem;
}

/*change the color of the input box when clicked on*/
input:focus, textarea{
  background-color: #23232329;
} 

/*when using the autofill function this will keep the text box looking like the rest instead of switching to a white background*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
} 
 
/*change the style of the button*/
/*1 rem for password, so add 1 rem into the margin-top for the password box*/

button{
  font-family: "League Spartan", sans-serif; 
  font-size: 2rem;
  width: 15rem;
  height: 3rem;
  padding-top: 0.25rem;
  border-radius: 1.5rem;
  margin-top: 5rem;
  border: 1px solid whitesmoke;  
}



/*change the cursor style when hover over a button*/
button:hover{
  cursor: pointer;
}

/*style the message "Already a user?" */
/*when the password error msg appears, change the margin-top*/
.change-log{
  font-family: "League Spartan", sans-serif; 
  font-size: 1.5rem;
  margin-top: 3.5rem;
  /* margin-top: 1rem; */
}

/*keep the color of the link the same even after already clicked on*/
a:visited{
  color: black;
}

/*change the color of the link to white when hover mouse over it*/
a:hover{
  color: white;
}